body {
    background-color: darkolivegreen;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    background-color: #3498db; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que el tamaño se ajuste al contenido */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen externo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */;
}